body{
  background: linear-gradient(289.6deg, #0C0C0C 0%, #2C4550 98.22%);
}

.body-wrapper{
  display: flex;
  height: 100%;
}
.sidebar-wrapper, .sidebar-wrapper-mobile{
  padding:25px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid var(--white);
  
}
.sidebar-wrapper  h1, .sidebar-wrapper-mobile h1{
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-align: center;

  color: #FFFFFF;
}
.sidebar-wrapper-mobile{
  display: none;
}
.sidebar-wrapper-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.sidebar-wrapper-icons img{
  width: 25px;
  height: 25px;
}
.body-content{
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  /* position: relative; */
}

input{
  display: none;
}

.body-content nav{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 35px;
  margin-top:3vh;
  margin-right: 3vw;
  /* width: 50%; */
}
.body-content nav a{
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 5px;
  cursor: pointer;
}
.body-content nav a:first-child{
  border-bottom: 3px solid var(--white);
}
.body-content nav img{
  margin: 0 2vw;
  cursor: pointer;
}

.wrapper-banner{
  display: flex;
  padding: 0 126px 0;
  position: relative
}

.wrapper-banner h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 79px;
  margin-top: 150px;
  color: var(--white)
}
.wrapper-banner h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-top: 35px;
  color: rgba(255, 255, 255, 0.9);
}

.wrapper-banner section {
  width: 45%;
}

.wrapper-banner img {
  flex: 1;
  margin-top: 100px;
  position: absolute;
  top: 0;
  right: 0;
}

footer{
  position: absolute;
  width: 100%;
  height: 25vh;
  bottom: 0;
  left: 0;

  background: radial-gradient(100% 2631.09% at 0% 0%, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.558) 100%);
  backdrop-filter: blur(50px);
  display: flex;
  justify-content: space-between;
}

footer img{
  max-height: 100%;
  margin-left: 125px;
}
footer section:last-child{
  margin-right: 50px;
}
footer section{
  position: relative;
}

footer section h1{
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: var(--white);
  margin: 40px 0 18px;
}
footer section h2{
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  max-width: 400px;
  color: rgba(255, 255, 255, 0.9);
}

footer section:nth-of-type(1)> img { 
  width: 50px;
  position: absolute;
  bottom:0;
  right: -50px;
}

/* @media only screen and (max-width: 576px) {  */
@media only screen and (max-width: 768px) { 
  .sidebar-wrapper{
    display: none;
  }
  
  .body-wrapper{
    flex-direction: column;
  }
  .body-content nav{
    /* display: none; */
    flex-direction: column;
    position: absolute;
    background-color: var(--dark);
    z-index: 1;
    height: 100vh;
    margin: 0;
    padding: 0;
    top:0;
    left:0;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform .4s linear ;
  }
  .body-content nav img{
    display: none;
  }
  .sidebar-wrapper-mobile{
    display: flex;
    flex-direction: row;
  }
  .sidebar-wrapper-mobile label{
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sidebar-menu-checkbox:checked ~ nav{
      position: absolute;
      max-height: 100%;
      transition: transform .4s linear ;
      transform: translateY(0%);
  }
  .sidebar-menu-checkbox:checked ~ .hamb .hamb-line {
      background: transparent;
  }

  .wrapper-banner{
    display: flex;
    padding: 0 0 0;
    position: relative;
    overflow: hidden;
  }
  .wrapper-banner img {
    width: 130%;
    margin: 0;
    /* display: none; */
    z-index: -1;
    right: -55%;
    overflow: hidden;
  }
  .wrapper-banner h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    margin-top: 135px;
    color: var(--white)
  }
  .wrapper-banner h2 {
    font-size: 12px;
    line-height: 18px;
  }
  
  .wrapper-banner section {
    width: 65%;
    margin: 0 0 60px 25px;
    margin: 40px 0 100px 25px;
  }
  footer{
    position: relative;
    /* display: none; */
    overflow: scroll; 
    scrollbar-width: none;
  }
  footer::-webkit-scrollbar{
    display: none;
  }
  footer img{
    max-height: 100%;
    width: 55%;
    margin-left: 25px;
    margin-right: 25px;
  }
  footer section h1{
    font-size: 16px;
    line-height: 24px;
  }
  footer section h2{
    font-size: 12px;
    line-height: 165%;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
            line-clamp: 4; 
    -webkit-box-orient: vertical;
  }
  footer section:nth-of-type(1)> img { 
    width: 50px;
    position: absolute;
    bottom:0;
    right: 0px;
  }
  footer section:last-child{
    margin-left: 30px;
  }
}